@use "../utils/variables" as *;

.card {
  display: block;
  height: 340px;
  border-radius: $radius-md;
  overflow: hidden;
  position: relative;
}

.card__inner {
  height: 100%;
  position: relative;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__inner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.card__title {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  margin: 0;
  color: $color-white;
  font-size: 18px;
  font-weight: 700;
  z-index: 1;
}
