@use "../utils/variables" as *;

.tags {
  list-style: none;
  padding: 0;
  margin: 12px 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tags__item {
  background: $color-primary;
  color: $color-white;
  padding: 5px 18px;
  border-radius: $radius-md;
  font-size: 14px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .tags {
    margin-top: 10px;
    gap: 10px;
  }

  .tags__item {
    padding: 3px 14px;
    border-radius: 5px;
    font-size: 10px;
  }
}
