@use "../utils/variables" as *;

.error {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.error__code {
  margin: 0;
  font-size: 220px;
  font-weight: 700;
  color: $color-primary;
}

.error__text {
  margin: 20px 0 30px;
  font-size: 18px;
}

.error__link {
  text-decoration: underline;
  font-weight: 500;
}

@media (max-width: 768px) {
  .error__code {
    font-size: 120px;
  }

  .error__text {
    font-size: 16px;
  }
}
