@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.home__grid {
  @include container;
  margin-top: 40px;
  padding: 40px;
  background: $color-gray;
  border-radius: $radius-lg;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

@media (max-width: 1024px) {
  .home__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .home__grid {
    padding: 0;
    background: transparent;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .banner__title {
    font-size: 26px;
    padding: 0 20px;
  }
}
