@use "../utils/variables" as *;

.housing__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  margin-top: 20px;
}

.housing__left {
  flex: 1;
  min-width: 0;
}

.housing__title {
  margin: 0;
  color: $color-primary;
  font-size: 36px;
  font-weight: 500;
}

.housing__location {
  margin: 6px 0 0;
  font-size: 18px;
}

.housing__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 220px;
}

.housing__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 24px;
}

@media (max-width: 768px) {
  .housing__top {
    flex-direction: column;
    gap: 16px;
    margin-top: 15px;
  }

  .housing__left {
    width: 100%;
  }

  .housing__right {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
  }

  .rating {
    margin-top: 0;
    text-align: left;
  }

  .housing__bottom {
    margin-top: 20px;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .housing__title {
    font-size: 18px;
    line-height: 1.43;
  }

  .housing__location {
    margin-top: 5px;
    font-size: 14px;
    line-height: 1.43;
  }
}
