@use "./utils/variables" as *;
@use "./utils/mixins" as *;
@use "./base/reset";
@use "./base/typography";
@use "./components/header";
@use "./components/footer";
@use "./components/banner";
@use "./components/card";
@use "./pages/home";
@use "./components/slideshow";
@use "./components/tags";
@use "./components/host";
@use "./components/rating";
@use "./pages/housing";
@use "./components/collapse";
@use "./pages/about";
@use "./pages/error";


// Small global helpers
html,
body,
#root {
  min-height: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  width: 100%;
  @include container;
  padding-top: 20px;
  padding-bottom: 40px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
