// Colors (adjust later to Figma)
$color-primary: #ff6060;
$color-black: #000;
$color-white: #fff;
$color-gray: #f6f6f6;

// Layout
$container-max: 1240px;
$container-padding: 20px;

// Radius
$radius-md: 10px;
$radius-lg: 25px;
